Source: wkhtmltox
Priority: optional
Maintainer: Ashish Kulkarni <kulkarni.ashish@gmail.com>
Build-Depends: debhelper (>= 7.3.16), git,  quilt, flex, build-essential, python, libdbus-1-dev, libfreetype6-dev, libglib2.0-dev, libgtk2.0-dev, libpng-dev,  libtiff-dev, libx11-dev, libxcursor-dev, libxext-dev, libxft-dev, libxi-dev, libxmu-dev, libxrandr-dev, libxrender-dev, libxslt1-dev, libxt-dev, libxtst-dev, x11proto-core-dev, zlib1g-dev, xz-utils, libssl-dev, libjpeg8-dev, libfontconfig1-dev, ca-certificates, libssl1.1, libjpeg-turbo8-dev, libssl-dev
Homepage: http://wkhtmltopdf.org

Package: wkhtmltox
Architecture: amd64
Depends: fontconfig, libfontconfig1, libfreetype6, libpng16-16, zlib1g, libjpeg8, libssl1.0.0, libx11-6, libxext6, libxrender1, libstdc++6, libc6
Description: convert HTML to PDF and various image formats using QtWebkit
 Tool for convert HTML to PDF with QtWebkit without X server.

Package: wkhtmltox-dbg
Section: libdevel
Architecture: amd64
Depends: wkhtmltox (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for wkhtmltox debpackages
