#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:
	rm -rf static-build
	dh_clean

override_dh_auto_configure:
	if [ ! -d qt/src ]; \
	then \
		git submodule init; \
		git submodule update; \
	fi \

override_dh_auto_build:
	scripts/build.py precise-amd64 -debug

override_dh_install:
	mkdir -p $$(pwd)/debian/wkhtmltox/usr/bin
	cp $$(pwd)/static-build/precise-amd64-dbg/dist/bin/wkhtmltopdf $$(pwd)/debian/wkhtmltox/usr/bin

override_dh_strip:
	dh_strip -pwkhtmltox --dbg-package=wkhtmltox-dbg